@font-face {
    font-family: "JF Flat";
    src: url("../fonts/");
    /* IE9*/
    src: url("../fonts/?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/JF-flat.woff2") format("woff2"), /* chrome firefox */
    url("../fonts/JF-flat.woff") format("woff"), /* chrome firefox */
    url("../fonts/JF-flat.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("../fonts/JF-flat.svg#JF Flat") format("svg");
    /* iOS 4.1- */
}