/* @import url("JF-flat.css"); */

* {
    font-family: "JF Flat";
}

body {
    margin: 0;
    font-family: "JF Flat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #5b3f91;
    text-align: right;
    background-color: #fff;
}

a {
    color: #5b3f91;
    text-decoration: none;
    background-color: transparent;
}

.bg-transparent {
    background-color: transparent !important;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-left: 1rem;
    line-height: inherit;
    white-space: nowrap;
    font-size: 20px !important;
    color: #5b3f91;
}


/* nav-bg-purple */

.nav-bg-purple {
    background: #5b3f91;
    height: 180px;
    position: relative;
}

.nav-bg-purple .navbar-brand {
    color: #ffdd00;
}

.nav-bg-purple .navbar-brand img {
    border-radius: 50%;
    border: 1px solid #ffdd00;
}

.nav-bg-purple .navbar-brand span {
    margin-right: 10px;
}

.nav-bg-purple .navbar-nav .nav-link {
    color: #ffdd00;
}

.nav-bg-purple .navbar-nav .nav-btn {
    color: #fff;
    background-color: #ffdd00;
    border-color: #ffdd00;
    -webkit-box-shadow: 0px 0px 4px 0px #ffdd00;
    box-shadow: 0px 0px 4px 0px #ffdd00;
}

.nav-bg-purple .navbar-nav .nav-btn:hover {
    color: #5b3f91;
    background-color: #e0a800;
    border-color: #d39e00;
}

.nav-bg-purple .navbar-nav .nav-link:focus,
.nav-bg-purple .navbar-nav .nav-link:hover,
.nav-bg-purple .navbar-brand:hover {
    color: #dece3f;
}


/* nav-bg-primary */

.nav-bg-primary {
    background: #fff;
    height: 180px;
    position: relative;
}

.nav-bg-primary .navbar-brand {
    color: #5b3f91 !important;
}

.nav-bg-primary .navbar-brand img {
    border-radius: 50%;
    border: 1px solid #fff;
}

.nav-bg-primary .navbar-brand span {
    margin-right: 10px;
}

.nav-bg-primary .navbar-nav .nav-link {
    color: #5b3f91;
}

.nav-bg-primary .navbar-nav .nav-btn {
    color: #fff;
    background-color: #5b3f91;
    border-color: #5b3f91;
}

.nav-bg-primary .navbar-nav .nav-btn:hover {
    color: #fff;
    background-color: #473270;
    border-color: #473270;
}

.nav-bg-primary .navbar-nav .nav-link:focus,
.nav-bg-primary .navbar-nav .nav-link:hover,
.nav-bg-primary .navbar-brand:hover {
    color: #6f618b;
}

.nav-img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 4px solid #fff;
    border-radius: 50%;
}

.btn {
    height: 48px !important;
    border-radius: 50px;
    font-size: 20px;
    padding: 8px 23px;
}

.btn .fas {
    margin-right: 21px;
}


/* .btn-purple  */

.btn-purple {
    color: #fff;
    background-color: #5b3f91;
    border-color: #9378C6;
}

.btn-purple:hover {
    color: #fff;
    background-color: #473270;
    border-color: #473270;
}

.btn-purple.focus,
.btn-purple:focus {
    box-shadow: 0 0 0 0.2rem #5a3f917c;
}

.btn-purple.disabled,
.btn-purple:disabled {
    color: #fff;
    background-color: #5b3f91;
    border-color: #5b3f91;
}

.btn-purple:not(:disabled):not(.disabled).active,
.btn-purple:not(:disabled):not(.disabled):active,
.show>.btn-purple.dropdown-toggle {
    color: #fff;
    background-color: #68558f;
    border-color: #58467c;
}

.btn-purple:not(:disabled):not(.disabled).active:focus,
.btn-purple:not(:disabled):not(.disabled):active:focus,
.show>.btn-purple.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #5a3f917c;
}

.btn-light {
    color: #7B7B7B;
    background-color: #EDEDED;
    border-color: #EDEDED
}

.btn-light:hover {
    color: #7B7B7B;
    background-color: #e2e6ea;
    border-color: #dae0e5
}

.btn-light.focus,
.btn-light:focus {
    box-shadow: 0 0 0 .2rem rgba(216, 217, 219, .5)
}

.btn-light.disabled,
.btn-light:disabled {
    color: #7B7B7B;
    background-color: #EDEDED;
    border-color: #EDEDED
}

.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
    color: #7B7B7B;
    background-color: #dae0e5;
    border-color: #d3d9df
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus,
.show>.btn-light.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(216, 217, 219, .5)
}

.btn-circle.btn-sm {
    width: 35px !important;
    height: 35px !important;
    padding: 6px 6px !important;
    border-radius: 100%;
    font-size: 15px;
    text-align: center;
}

.btn-circle .fas {
    margin: 0px !important;
}

.btn-circle.btn-md {
    width: 48px;
    height: 48px;
    padding: 4px 0px;
    border-radius: 100%;
    font-size: 28px;
    text-align: center;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}


/* .btn-yello  */

.btn-yello {
    color: #5b3f91;
    background-color: #ffdd00;
    border-color: #FDD38F;
    -webkit-box-shadow: 0px 0px 4px 0px #ffdd00;
    box-shadow: 0px 0px 4px 0px #ffdd00;
}

.btn-yello:hover {
    color: #5b3f91;
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-yello.focus,
.btn-yello:focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-yello.disabled,
.btn-yello:disabled {
    color: #5b3f91;
    background-color: #ffdd00;
    border-color: #ffdd00;
}

.btn-yello:not(:disabled):not(.disabled).active,
.btn-yello:not(:disabled):not(.disabled):active,
.show>.btn-yello.dropdown-toggle {
    color: #5b3f91;
    background-color: #d39e00;
    border-color: #c69500;
}

.btn-yello:not(:disabled):not(.disabled).active:focus,
.btn-yello:not(:disabled):not(.disabled):active:focus,
.show>.btn-yello.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}


/* .btn-orange  */

.btn-orange {
    color: #fff;
    background-color: #FF9D00;
    border-color: #FDD38F;
    -webkit-box-shadow: 0px 0px 4px 0px #FF9D00;
    box-shadow: 0px 0px 4px 0px #FF9D00;
}

.btn-orange:hover {
    color: #fff;
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-orange.focus,
.btn-orange:focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.btn-orange.disabled,
.btn-orange:disabled {
    color: #fff;
    background-color: #FF9D00;
    border-color: #FF9D00;
}

.btn-orange:not(:disabled):not(.disabled).active,
.btn-orange:not(:disabled):not(.disabled):active,
.show>.btn-orange.dropdown-toggle {
    color: #fff;
    background-color: #d39e00;
    border-color: #c69500;
}

.btn-orange:not(:disabled):not(.disabled).active:focus,
.btn-orange:not(:disabled):not(.disabled):active:focus,
.show>.btn-orange.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
}

.logo {
    margin-top: 74px;
    margin-bottom: 74px;
}

.form-control {
    height: 48px !important;
    border-radius: 50px;
    font-size: 20px;
    padding: 8px 23px;
    border: 1px solid #ededed !important;
    background-color: #f8f8f8 !important;
    box-shadow: 0px 2px 2px 0px #bdbdbd69;
}

.form-control:focus {
    outline: 0;
    color: #495057;
    border: 1px solid #ededed !important;
    background-color: #f8f8f8 !important;
    box-shadow: 0px 2px 2px 0px #bdbdbd69;
}

::placeholder {
    color: #d3d3d3 !important;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.form-search {
    display: flex;
    position: relative;
}

.form-search img {
    position: absolute;
    top: 6px;
    bottom: 0px;
    left: 6px;
}

.owl-theme .owl-dots .owl-dot {
    display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 30px;
    display: block;
    height: 10px;
    width: 10px;
    margin: 0 3px;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #ffdd00;
    border-color: #ffdd00;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
}

.custom_overlay_wrapper {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 666px;
}

.custom_overlay {
    z-index: 2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    /* background-color: rgba(255, 255, 255, .9); */
    /* opacity: 0; */
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
}

.custom_overlay_inner {
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    transform: translateY(-50%);
}

.custom_overlay h1 {
    position: relative;
    margin-bottom: 10px;
    color: #fff !important;
}

.inner-content {
    border: 4px solid #fff;
    background-color: #0000004d;
    padding: 15px;
    color: #fff !important;
}

.custom_overlay p {
    line-height: 1.4em;
    font-family: "NotoKufiArabic";
    font-size: 16px;
}

#owl-demo .owl-controls {
    background: #5b3f91;
    margin: -2px 0px;
}

.owl-controls {
    text-align: center;
    padding-top: 15px;
}

#ad {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

#banner {
    margin-top: 164px;
    padding-left: 0px;
    padding-right: 0px;
}

#ad .img-ad {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

.title {
    width: 353px;
    margin-bottom: 34px;
}

.title>p {
    background: #ffc107;
    padding: 5px 60px;
    border-radius: 100px;
    font-size: 31px;
    text-align: center;
    margin: 0px;
}

.product-card {
    width: 100%;
    background: #fff;
    padding: 13px 13px;
    border: 2px solid #5b3f9182;
    box-shadow: 0px 3px 5px #d9d2e8;
}

.product-card .product-title {
    direction: initial;
}

.product-card .product-title p:nth-child(1) {
    text-align: center;
    font-size: 20px;
    margin-bottom: 2px;
}

.product-card .product-title p:nth-child(2) {
    text-align: center;
    font-size: 19px;
}

.product-card .product-img {
    text-align: center;
    height: 300px;
}

.product-card .product-img img {
    text-align: center;
}

.product-card .product-price {
    text-align: center;
    font-size: 24px;
    color: #b2b2b2;
    text-decoration: line-through;
    position: relative;
    text-align: center;
}

.product-card .product-price:before {
    background-color: #b2b2b2;
    content: "";
    height: 2px;
    left: 0;
    /* right: 0; */
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 6;
    width: 75px;
    margin: auto;
}

.product-card .product-price span {
    background-color: #fff;
    display: inline-block;
    padding: 0 2px;
    position: relative;
    text-align: center;
}

.product-card .product-sale span {
    background: #5b3f91;
    padding: 0px 21px;
    border-radius: 100px;
    font-size: 27px;
    text-align: center;
    margin: 0px;
    color: #ffc107;
}

.product-card .prdouct-footer {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.product-card .product-sale {
    margin-left: auto;
}

.product-card .product-fav {
    margin-right: auto;
}

.product-card .product-fav .btn-fav img {
    height: 35px;
    width: 35px;
}

.product-card .product-fav .btn-fav span {
    margin: 5px;
}

.product-card .product-fav .btn-fav {
    background-color: #f2f2f2;
    color: #5b3f91;
    font-size: 17px;
    padding: 6px 8px;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

#owl-product .owl-carousel .owl-item {
    padding: 10px !important;
}

#owl-product .owl-controls {
    background: transparent;
    text-align: center;
    padding-top: 15px;
}

.owl-carousel .owl-item .product-img img {
    display: block;
    height: 230px;
    text-align: center;
    margin: auto;
    width: auto !important;
}

.owl-carousel .nav-btn {
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    top: 43%;
    ;
}

.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.dots-yello .owl-carousel .prev-slide {
    background: url('../images/iocn-left.svg') no-repeat scroll;
    left: -48px;
}

.dots-yello .owl-carousel .next-slide {
    background: url('../images/icon-right.svg') no-repeat scroll;
    right: -48px;
}

.dots-purple .owl-carousel .prev-slide {
    background: url('../images/iocn-left-purple.svg') no-repeat scroll;
    left: -48px;
}

.dots-purple .owl-carousel .next-slide {
    background: url('../images/iocn-right-purple.svg') no-repeat scroll;
    right: -48px;
}

.owl-carousel .prev-slide:hover,
.owl-carousel .next-slide:hover {
    opacity: 0.6;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1742px;
    }
}

.category .cat-img-6 {
    height: 560px;
}

.category .cat-img-12 {
    height: 338px;
}

.category .cat-img-12,
.category .cat-img-6 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.category a {
    font-size: 36px;
}

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

.darken-grey-text {
    color: #2E2E2E;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.padding-top-86 {
    padding-top: 86px;
}

.footer-bg {
    background-color: #5b3f91;
    color: #fff;
}

footer .footer-widget h4 {
    font-size: 36px !important;
    margin-bottom: 35px;
}

footer .footer-link ul {
    list-style: none;
    padding-inline-start: 0px;
}

footer .footer-link ul li {
    margin-bottom: 6px;
}

footer .footer-link ul li>a {
    color: #E2D3FF;
    font-size: 28px;
}

footer .copyright p {
    margin-top: 60px;
    margin-bottom: 34px;
    text-align: center;
    color: #E2D3FF;
    font-size: 20px !important;
}

footer .footer-widget .footer-logo {
    margin-bottom: 80px !important;
}

footer .footer-widget p {
    color: #E2D3FF;
    font-size: 28px;
    margin-bottom: 5px;
}

.dot i {
    color: #5b3f91;
    padding: 8px;
}

.dot {
    text-align: center;
    height: 42px;
    width: 42px;
    background-color: #BC9AFF;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
}

.mt-170 {
    margin-top: 170px;
}

.pt-130 {
    padding-top: 130px;
}

.category-links ul {
    list-style: none;
    padding-inline-start: 0px;
}

.category-links ul li>a {
    color: #5B3F91;
    font-size: 28px;
}

.bg-gray {
    background-color: #F8F8F8;
}

.category-title {
    position: absolute;
    bottom: -24px;
    right: 115px;
}

.category-title p {
    background: #ffc107;
    padding: 2px 60px;
    border-radius: 100px;
    font-size: 31px;
    text-align: center;
    margin: 0px;
}

.pb-50 {
    padding-bottom: 50px;
}

.mt-135 {
    margin-top: 135px;
}

.item-details p {
    font-size: 27px;
}

.item-details .item-header .item-title,
.item-details .item-header .sale,
.item-details .item-header .share-icons {
    display: inline-block;
    margin-left: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.item-details .item-header .item-title span {
    font-size: 40px;
    margin-bottom: 0px;
}

.item-details .item-header .sale span {
    background-color: #ffc107;
    border-radius: 30px;
    padding: 0px 10px;
    color: #5B3F91;
}

.share-icons {
    display: inline-block;
}

.share-icons .social-outline i {
    color: #5b3f91;
    padding: 6px;
    font-size: 30px;
}

.share-icons .social-outline {
    text-align: center;
    height: 46px;
    width: 46px;
    border: 3px solid #5B3F91;
    border-radius: 50%;
    display: inline-block;
    margin: 3px;
}

.item-details .item-number {
    font-size: 25px;
    color: #A0A0A0;
}

.item-details .description p {
    color: #A0A0A0;
    line-height: 40px
}

.mt-40 {
    margin-top: 40px;
}

.item-details .size p,
.item-details .qountity p,
.item-details .price p,
.item-details .colors p {
    color: #A0A0A0;
}

.item-details span.number {
    border: 1px solid #5B3F91;
    border-radius: 15px;
    padding: 0px 15px;
    color: #5B3F91;
    font-size: 20px !important;
}

.item-details .qountity span.number {
    margin: 0px 10px;
}

.item-details .qountity .btn-light {
    color: #939393;
}

.v-center {
    vertical-align: middle;
    display: flex;
    align-items: center;
}

.item-details .colors .item-color {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 14px;
}

.item-price {
    font-size: 24px;
    color: #b2b2b2;
    position: relative;
    width: fit-content;
}

.item-price:before {
    background-color: #b2b2b2;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 6;
    width: 130%;
    margin: 0px -10px;
}

.item-details .item-sale span {
    background: #5b3f91;
    padding: 0px 21px;
    border-radius: 100px;
    font-size: 27px;
    text-align: center;
    margin: 0px;
    color: #ffc107;
    -webkit-box-shadow: 0px 0px 4px 0px #5b3f91;
    box-shadow: 0px 0px 4px 0px #5b3f91;
}

.item-iamges .primary-image {
    position: relative;
    border: 2px solid #b4b4b48e;
    -webkit-box-shadow: 0px 0px 4px 0px #D9D2E8;
    box-shadow: 0px 3px 4px 0px #D9D2E8;
    text-align: center;
    width: 100%;
    height: 800px;
    padding: 72px;
}

.item-iamges .primary-image .brand {
    position: absolute;
    top: 20px;
    right: 20px;
}

.item-iamges .primary-image .copy-link {
    position: absolute;
    top: 20px;
    left: 20px;
}

.item-iamges .primary-image .item-iamge {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.item-iamges .secondary-image {
    border: 2px solid #b4b4b48e;
    -webkit-box-shadow: 0px 0px 4px 0px #D9D2E8;
    box-shadow: 0px 3px 4px 0px #D9D2E8;
    text-align: center;
    padding: 10px;
    width: 100%;
    height: 154px;
}

.item-iamges .secondary-image .item-iamge {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    height: 100%;
    width: 100%;
}

.mt-85 {
    margin-top: 85px;
}